body {
	background-color: #ffe6cc;
	font-family: 'Open Sans Condensed';
	height: 100%;
}

.title {
	font-family: 'Open Sans Condensed';
	font-size: 225px;
	left: 90px;
	position: relative;
	color: #666666;
}

#HelpButton {
	position: relative;
	left:50px;
}
#DirectionsButton {
	position: relative;
	left:35px;
}

#DangerButton {
	position: relative;
	left:20px;
} 
#QuestionMark {
	position: relative;
	margin-top:10px;
} 
.mapContainer {
	position:relative;
	height: 1050px;
	width: 810px;
	left: 12%;
	margin-top: 5%;
	padding-bottom:5%;
}

#map {
	position: relative;
	height:100%;
	width:100%;
}

.button {
	font-family:'Open Sans Condensed';
  	background-color: transparent; /* Green */
  	border: 1px solid #999999;
  	color: #999999;
 	padding: 25px 15px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 65px;
  	margin-left: 30px;
  	width: 280px;
}
.QuestionButton {
	position: relative;
	font-family:'Open Sans Condensed';
  	background-color: transparent; /* Green */
  	border: 1px solid #999999;
  	color: #999999;
 	padding-top: 25px;
 	padding-left: 60px;
 	padding-bottom: 25px;
 	padding-right: 75px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 65px;
  	margin-left: 450px;
  	width: 50px;
  	border-radius: 50%;
  	margin-top: 100px;
}
#overlay {
	position: fixed;
	background-color: black;
	z-index: 1;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0.75;
	transform: scale(1.1);
}

#Help {
	background-color: #ffe6cc;
	font-family: 'Open Sans Condensed';
	font-size: 65px;
	text-align: center;
	height: 875px;
	width: 650px;
	left: 9.5%;
	top: 27%;
	padding-bottom:10%;
	padding-top: 10%;
	padding-left:10%;
	padding-right:10%;
	position: fixed;
	display: none;
	z-index: 2;
	color: #999999;
}
#Danger {
background-color: #ffe6cc;
	font-family: 'Open Sans Condensed';
	font-size: 65px;
	text-align: center;
	height: 875px;
	width: 650px;
	left: 9.5%;
	top: 27%;
	padding-bottom:10%;
	padding-top: 10%;
	padding-left:10%;
	padding-right:10%;
	position: fixed;
	display: none;
	z-index: 2;
	color: #999999;
}
#Directions {
	background-color: #ffe6cc;
	font-family: 'Open Sans Condensed';
	font-size: 65px;
	text-align: center;
	height: 875px;
	width: 650px;
	left: 9.5%;
	top: 27%;
	padding-bottom:10%;
	padding-top: 10%;
	padding-left:10%;
	padding-right:10%;
	position: fixed;
	display: none;
	z-index: 2;
	color: #999999;
}
#Question {
	background-color: #ffe6cc;
	font-family: 'Open Sans Condensed';
	font-size: 65px;
	text-align: center;
	height: 875px;
	width: 650px;
	left: 9.5%;
	top: 27%;
	padding-bottom:10%;
	padding-top: 10%;
	padding-left:10%;
	padding-right:10%;
	position: fixed;
	display: none;
	z-index: 2;
	color: #999999;
}
#ExitButton {
	background-color: #ffe6cc;
	font-family: 'Open Sans Condensed';
	color: #999999;
	border: none;
	font-size: 65px;
	right: 12%;
	top: 27%;
	position: fixed;
	display: none;
	z-index: 3;
}
.slidecontainer {
	margin-top: 50px;
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #999999; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ffa64d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ffa64d0; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#SubmitButtonDanger {
	margin-right:30px;
	margin-top: 250px;
}
#SubmitButtonDirections {
	margin-right:30px;
	margin-top: 150px;
}
#StartSearch {
	text-align: center;
	font-family: 'Open Sans Condensed';
	color: #999999;
	border: 1px solid #999999;
	background-color: transparent;
	font-size: 65px;
}

#DestinationSearch {
	text-align: center;
	font-family: 'Open Sans Condensed';
	color: #999999;
	border: 1px solid #999999;
	background-color: transparent;
	font-size: 65px;
}