body {
	background-color: #ffe6cc;
	font-family: 'Open Sans Condensed';
	height: 100%;
}

.title {
	font-family: 'Open Sans Condensed';
	font-size: 250px;
	left: 50px;
	position: relative;
	/*  */
	color: #666666;
}

.help {
	font-family:'Open Sans Condensed';
	font-size: 100px;
	position: relative;
	text-align: center;
	color: #999999;
}
.mapContainer {
	position:relative;
	border: 1px solid black;
	height: 900px;
	width: 650px;
	left: 12.5%;
	margin-top: 2.5%;
}

#map {
	position: relative;
	height:100%;
	width:100%;
}

.danger {
	
}

.tips {
	
}